h1{
	background-color: forestgreen;
	color: white;
	text-align: center;
	font-family: cursive;
	font-size: 36px;
	padding: 5px;
}
#footer{
	background-color: #F0F0F0;
}
.Bio{
	display: flex;
	padding: 5px;
}
img{
	width: 200px;
	border: solid black 2px;
	padding: 2px;
}
img:hover{
	width: 300px;
	transition: width 500ms;
	transition-delay: 50ms;
}
button{
	background: grey;
	color:white;
	width: 100px;
	border-radius: 15px;
}
button:hover{
	background: darkgray;
}